@import '../_framework/variables';

// Mixins
@import '../_framework/mixins/animation';

// Home

.section-title{
	position: relative;
	overflow: hidden;
	h1,h2,h3,h4,h5,h6,p{
		width: 100%;
		max-width: 554px;
		margin: 0 auto;
		z-index: 10;
		position: relative;
	}
	grid-template-rows: auto auto;
	grid-template-areas: 
		". . title title title title title title title title . ."
		". . subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle . ."
	;
	text-align: center;
	margin-bottom: $space-big;
	h4{
		grid-area: title;
		margin-bottom: 0;
	}
	p{
		grid-area: subtitle
	}
}

section#projects{
	position: relative;
	z-index: 10;
}

section#services{
	position: relative;
	z-index: 1;
	margin-top: -4.2rem;
	background-image: linear-gradient(-180deg, rgba(80,50,150,0.12) 0%, rgba(130,30,150,0.00) 100%);
	.section-title{
	position: relative;
	z-index: 1;
		background: #503D99;
		padding: 13.2rem 0;
		margin-bottom: -4.2rem;
		.container-edge{
			top: 0
		}
	}
}

.service-list{
	grid-template-rows: auto auto;
	position: relative;
	z-index: 10;
	li{
		grid-column: span 6;
		padding: $space-big;
		border-radius: .6rem;
		&.service-special{
			background: $background;
			border-bottom: 3px solid transparentize($background-invert, .82)
		}
	}
	.service-title{
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr auto auto 1fr;
		grid-template-areas:
			"image ."
			"image name"
			"image skill"
			"image ."
		;
		grid-column-gap: $space;
		margin-bottom: $space;
		img{
			grid-area: image;
			border-radius: 100%;
		}
		h1,h2,h3,h4,h5,p{
			grid-area: name;
			margin-bottom: 0;
		}
		h6{
			grid-area: skill;
			color: $brand;
		}
	}
}
	

//@media only screen and (max-width: $desktop) {}
//@media only screen and (max-width: $tablet) {}
//@media only screen and (max-width: $mobile) {}