@import '../_framework/variables';

// Mixins
@import '../_framework/mixins/animation';


footer{
	position: relative;
	padding: 9rem 0;
	margin-top: $space-big;
}

#footer-text{
	grid-column: span 8
}
#legal{
	margin-top: $space-big;
	opacity: .6 ;
}

#footer-links{
	grid-column: span 4
}
.footer-button{
	display: grid;
	width: 100%;
	background-color: transparent;
	border: 2px solid transparentize($text-colour-invert, .8);
	margin-bottom: $space;
	padding: $space;
	border-radius: .6rem;
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-areas: ". icon text .";
	grid-gap: $space-small;
	
	h1,h2,h3,h4,h5,h6,p{
		grid-area: text;
		
	}
	img{
		grid-area: icon;
		margin: auto 0;
	}
	&:hover{
		border-color: transparent;
		background-color: transparentize($brand, .42)
	}
}







//@media only screen and (max-width: $desktop) {}
@media only screen and (max-width: $tablet) {
	footer{
		.container{
			grid-template-rows: auto auto;
		}
		#footer-text{
			grid-row-start: 2;
			grid-column: span 12
		}
		#footer-links{
			grid-row-start: 1;
			grid-column: span 12;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: $space;
			margin-bottom: $space;
			&::before, &::after{
				display: none;
			}
			.footer-button{
				grid-column: span 1;
			}
		}
	}
}
@media only screen and (max-width: $mobile) {
	footer{
		#footer-links{
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-column-gap: $space;
		}
	}
}