<footer class="dark-mode">
	<div class="colour-bar"></div>
	<div class="container">
		<div id="footer-text">
			<h4>Let’s have a chat about your project!</h4>
			<p>With years of experience delivering high quality products in eSports, we can't wait to build something awesome with you and kick your project into overdrive! We're a friendly bunch, so drop us an email or connect on our social channels.</p>
			<h6 id="legal">&copy;2018 Digital Rift. All Rights Reserved.</h6>
		</div>
		<div id="footer-links">
			<a class="footer-button" href="https://twitter.com/riftco" target="_blank">
				<img src="img/social-twitter.svg" alt="Twitter Logo" width="18" height="14" />
				<h6>Tweet @RiftCo</h6>
			</a>
			<a class="footer-button" href="https://discord.gg/EbpbYae" target="_blank" rel="noopener">
				<img src="img/social-discord.svg" alt="Discord Logo" width="18" height="20" />
				<h6>Chat on Discord</h6>
			</a>
			<a class="footer-button" href="mailto:hello@digitalrift.co" target="_blank" rel="noopener">
				<h6>...or shoot us an email</h6>
			</a>
		</div>
	</div>
</footer>