<header class="dark-mode">
	<div class="colour-bar"></div>
	
	{% include 'includes/template/_navigation.twig' %}
	
	<div class="hero-title">
		<h1>A team of gamers who live to buid <span class="highlight">awesome</span> digital experiences</h1>
		<p><a href="#">Let’s talk about how we can help you reach your goals</a></p>
	</div>
	
	<div class="container-edge">
		<svg xmlns="http://www.w3.org/2000/svg" width="1658" height="36" viewBox="0 0 1658 36">
			<path 
				fill="#FFF" 
				ill-rule="evenodd"
				d="M1658,468 L0,468 C276.333333,444 552.666667,432 829,432 C1105.33333,432 1381.66667,444 1658,468 Z"
				transform="translate(0 -432)"
			/>
		</svg>
	</div>
	
	<!--<div class="background-image" style="background-image: url('./img/background_img-1.jpg')">
	</div>-->
	
	<div class="background-parallax">
		<div class="parallax-layer layer_1" style="background-image: url('./img/parallax/home-layer_1.png')"></div>
		<div class="parallax-layer layer_2" style="background-image: url('./img/parallax/home-layer_2.png')"></div>
		<div class="parallax-layer layer_3" style="background-image: url('./img/parallax/home-layer_3.png')"></div>
		<div class="parallax-layer layer_4" style="background-image: url('./img/parallax/home-layer_4.png')"></div>
	</div>
	
</header>