<nav>
	<a class="logo" href="#"><img src="./img/logo.svg" width="100" height="24" alt="Digital Rift" /></a>
	<ul id="menu">
		<li><a href=".">Services</a></li>
		<li><a href=".">Projects</a></li>
		<li><a href=".">Contact</a></li>
	</ul>
</nav>