{# index.twig #}
{% extends "_layout.twig" %}

{# Page Data #}
{% set page = "home" %}
{% set slug = "" %}

{# Metadata #}
{% set title = "eSports Web Design · Digital Rift" %}
{% set subTitle = "We design and build online brands for gamers." %}
{% set description = "We design and build online brands for gamers." %}
{% set date = "May 2018" %}
{% set thumbnail = "img/thumbnail.jpg" %}



{% block header %}
	<div class="hero-title">
		<h1>A team of gamers who live to buid <span class="highlight">awesome</span> digital experiences</h1>
		<p><a href="#">Let's talk about how we can help you reach your goals</a></p>
	</div>
{% endblock %}



{% block content %}

	<section id="projects">
		<div class="section-title">
			<h4>Case Studies</h4>
			<p>Learn about the proccess we went through to build solutions that helped our past clients achieve their goals.</p>
		</div>
		
		<ul class="card-list container">
		
			<li>
				<a class="card card-project" href=".">
				
					<div class="card-thumbnail">
						<div class="card-project-open">
							<h6>View Project</h6>
						</div>
						<img src="./img/projects/battalion/thumbnail.jpg" width="252" height="284" alt="Battalion Project Thumbnail" />
					</div>
					
					<p>Battalion 1994</p>
					<h6>Game User Interface</h6>
					
					<ul class="project-participant-list">
						<li class="project-participant">
							<img src="./img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
						</li>
						<li class="project-participant">
							<img src="./img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
						</li>
					</ul>
					
				</a>
			</li>
		
			<li>
				<a class="card card-project" href=".">
				
					<div class="card-thumbnail">
						<div class="card-project-open">
							<h6>View Project</h6>
						</div>
						<img src="./img/projects/battalion/thumbnail.jpg" width="252" height="284" alt="Battalion Project Thumbnail" />
					</div>
					
					<p>Battalion 1994</p>
					<h6>Game User Interface</h6>
					
					<ul class="project-participant-list">
						<li class="project-participant">
							<img src="./img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
						</li>
						<li class="project-participant">
							<img src="./img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
						</li>
					</ul>
					
				</a>
			</li>
		
			<li>
				<a class="card card-project" href=".">
				
					<div class="card-thumbnail">
						<div class="card-project-open">
							<h6>View Project</h6>
						</div>
						<img src="./img/projects/battalion/thumbnail.jpg" width="252" height="284" alt="Battalion Project Thumbnail" />
					</div>
					
					<p>Battalion 1994</p>
					<h6>Game User Interface</h6>
					
					<ul class="project-participant-list">
						<li class="project-participant">
							<img src="./img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
						</li>
						<li class="project-participant">
							<img src="./img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
						</li>
					</ul>
					
				</a>
			</li>
		
			<li>
				<a class="card card-project" href=".">
				
					<div class="card-thumbnail">
						<div class="card-project-open">
							<h6>View Project</h6>
						</div>
						<img src="./img/projects/battalion/thumbnail.jpg" width="252" height="284" alt="Battalion Project Thumbnail" />
					</div>
					
					<p>Battalion 1994</p>
					<h6>Game User Interface</h6>
					
					<ul class="project-participant-list">
						<li class="project-participant">
							<img src="./img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
						</li>
						<li class="project-participant">
							<img src="./img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
						</li>
					</ul>
					
				</a>
			</li>
		
			<li>
				<a class="card card-project" href=".">
				
					<div class="card-thumbnail">
						<div class="card-project-open">
							<h6>View Project</h6>
						</div>
						<img src="./img/projects/battalion/thumbnail.jpg" width="252" height="284" alt="Battalion Project Thumbnail" />
					</div>
					
					<p>Battalion 1994</p>
					<h6>Game User Interface</h6>
					
					<ul class="project-participant-list">
						<li class="project-participant">
							<img src="./img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
						</li>
						<li class="project-participant">
							<img src="./img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
						</li>
					</ul>
					
				</a>
			</li>
		
			<li>
				<a class="card card-project" href=".">
				
					<div class="card-thumbnail">
						<div class="card-project-open">
							<h6>View Project</h6>
						</div>
						<img src="./img/projects/battalion/thumbnail.jpg" width="252" height="284" alt="Battalion Project Thumbnail" />
					</div>
					
					<p>Battalion 1994</p>
					<h6>Game User Interface</h6>
					
					<ul class="project-participant-list">
						<li class="project-participant">
							<img src="./img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
						</li>
						<li class="project-participant">
							<img src="./img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
						</li>
					</ul>
					
				</a>
			</li>
			
		</ul>
	</section>
	

	<section id="services">
	
		<div class="section-title dark-mode">
		
	
			<div class="container-edge">
				<svg xmlns="http://www.w3.org/2000/svg" width="1654" height="56" viewBox="0 0 1654 56">
					<path 
						fill="#FFF" 
						fill-rule="evenodd" 
						d="M-5.68434189e-13,56 C977,-78.9392317 820,148.91654 1658,-0.710769966 C1574.66667,-0.710769966 1022,-0.710769966 2.14506459e-12,-0.710769966 C3.20197439e-13,-12.2691012 -5.84302153e-13,6.63448875 -5.68434189e-13,56 Z"
					/>
				</svg>
			</div>
		
			<h4>Services</h4>
			<p>We believe in elevating the standard of design and development within eSports. From conception, to completion. We support your projects throughout the entire proccess.</p>
		
			<div class="background-image" style="background-image: url('./img/background_img-1.jpg')"></div>
			
		</div>
		
		<ul class="service-list container">
		
			<li class="service-special">
				<div class="service-title">
					<img src="./img/team/ollie-taylor.jpg" width="60" height="60" alt="Ollie Taylor" />
					<h5>Ollie Taylor</h5>
					<h6>Digital Design</h6>
				</div>
				<p>I don&#39t just make pretty pages. I build experiences that support your goals.</p>
				<p>My work connects brands like yours with it&#39s audience developing meaningful relationships that help you make money.</p>
				<p>We specialise in design that engages gamers and drives conversions. Every pixel matters and it&#39s what drives us to create elegant solutions that not only function, but look beautiful in doing so.</p>
			</li>
		
			<li class="service-special">
				<div class="service-title">
					<img src="./img/team/tom-wade.jpg" width="60" height="60" alt="Tom Wade" />
					<h5>Tom Wade</h5>
					<h6>Web Development</h6>
				</div>
				<p>I don&#39t just make pretty pages. I build experiences that support your goals.</p>
				<p>My work connects brands like yours with it&#39s audience developing meaningful relationships that help you make money.</p>
				<p>We specialise in design that engages gamers and drives conversions. Every pixel matters and it&#39s what drives us to create elegant solutions that not only function, but look beautiful in doing so.</p>
			</li>
		
			<li>
				<div class="service-title">
					<h6>Brand Development</h6>
				</div>
				<p>Your brand is more than just a logo. It&#39s a powerful tool that we can help you build.</p>
				<p>Whether you&#39re an esports team in need of a logo and social branding to take it to the next level, or an international organisation looking for a wide scale brand refresh, then we definitely need to have a chat.</p>
			</li>
		
			<li>
				<div class="service-title">
					<h6>SEO & Marketing</h6>
				</div>
				<p>Gaming is fun, but we understand that your company is a profitable buisness.</p>
				<p>Having an amazing website isn&#39t any good if no-one can find it. We work closely with you to optimise your website, promote your brand digitally and connect you with esports brands around the world.</p>
			</li>
		
		</ul>
		
	</section>


{% endblock %}



{% block footer %}
{% endblock %}



{% block scripts %}
{% endblock %}
