{# index.twig #}
{% extends "_layout.twig" %}

{# Page Data #}
{% set page = "project" %}
{% set slug = "" %}

{# Metadata #}
{% set title = "Battalion 1944 GUI" %}
{% set subTitle = "What we learnt building the interface for the new Wartide 2.0 mode" %}
{% set description = "What we learnt building the interface for the new Wartide 2.0 mode" %}
{% set date = "May 2018" %}
{% set thumbnail = "img/thumbnail.jpg" %}
{% set headerImage = "img/projects/battalion/header.jpg" %}



{% block header %}
	<div class="hero-title">
		<h1>What we learnt building the interface for Battalion 1944's new Wartide mode</h1>
		<h6>Client: <strong>Bulkhead Interactive</strong> Project: <strong>Battalion 1944 GUI</strong></h6>
	</div>
{% endblock %}



{% block content %}

	<article id="project-content">
	
		<section>
			<h1>Case Studies</h1>
			<h2>Case Studies</h2>
			<h3>Case Studies</h3>
			<h4>Case Studies</h4>
			<h5>Case Studies</h5>
			<h6>Case Studies</h6>
			<p>Learn about the proccess we went through to build solutions that helped our past clients achieve their goals.</p>
		</section>
		
	</article>

{% endblock %}



{% block footer %}
{% endblock %}



{% block scripts %}
{% endblock %}
