{# index.twig #}
{% extends "_layout.twig" %}

{# Page Data #}
{% set page = "project" %}
{% set slug = "" %}

{# Metadata #}
{% set title = "Battalion 1944 GUI" %}
{% set subTitle = "What we learnt building the interface for the new Wartide 2.0 mode" %}
{% set description = "What we learnt building the interface for the new Wartide 2.0 mode" %}
{% set date = "May 2018" %}
{% set thumbnail = "img/thumbnail.jpg" %}
{% set headerImage = "img/projects/battalion/header.jpg" %}



{% block header %}
	<div class="project-title">
		<h1>What we learnt building the interface for Battalion 1944's new Wartide mode</h1>
		<ul>
			<li><h6>Client: <strong>Bulkhead Interactive</strong></h6></li>
			<li><h6>Project: <strong>Battalion 1944 GUI</strong></h6></li>
		</ul>
	</div>
{% endblock %}



{% block content %}

	<article id="project-content">
		
		<!-- Type Test
		<section>
			<h1>Case Studies</h1>
			<h2>Case Studies</h2>
			<h3>Case Studies</h3>
			<h4>Case Studies</h4>
			<h5>Case Studies</h5>
			<h6>Case Studies</h6>
			<p>Learn about the proccess we went through to build solutions that helped our past clients achieve their goals.</p>
		</section>
		-->
		
		<h4>Exploring the HOMEPAGE</h4>
		<p>I decided to separate website users into two categories: those who know about the game and visit for specific content, and those who come to the site to learn more about the game. The homepage should cater to both of these users, as it is likely to be the first place they land.</p>
		
		<blockquote>
			<p><strong>Above the fold</strong> refers to the section of the site a user can see before they scroll down the page. This is valuable screen space because it is where many users decide if they are going to invest time into exploring your site, or leave.</p>
		</blockquote>
		
		<p>Before users scroll down they need to see imagery, have some understanding of the game, and know where to go from here. People consume images much faster than text; many users also don't take the time to read the content. So, it is important that the image selection supports that message and keeps the user engaged long enough to invest time into the site.</p>
		<p>Bulkhead Interactive have some gorgeous character models and in-game art, which is clearly portrayed in Battalion 1944. Although any imagery from the game may be visually appealing, the homepage has an important job <em>( especially <a href="#tip-abovefold">above the fold</a> )</em>. Consequently, I decided to loop a short video clip depicting the beauty of this game. Additionally, the developers wanted to show off some quotes from people who have spoken about the game. Overlaying quotes means users will be exposed to them as they watch the footage.</p>
		
		<figure class="media">
			<iframe 
				width="788.54" 
				height="443"
				frameborder="0"
				allow="autoplay; encrypted-media"
				allowfullscreen
				scrolling="no" 
				marginheight="0" 
				marginwidth="0"
				src="https://www.youtube.com/embed/7wQ9dkqxF9Y?rel=0&amp;controls=0">
			</iframe>
		</figure>
		
		<p>Continuing down the homepage, I included large content sections to communicate the developers' goals for the game. I decided the site should reflect the personal and direct connection the developers have with their fans, which is why each section directly expresses what the developers' want to communicate with the fans. This accomplishes my original goal of creating an informative, interactive homepage that allows seamless communication between Bulkhead Interactive and the fan base. </p>
		
		<figure>
			<img src="./img/projects/battalion/image-3.jpg">
			<figcaption><p>Reading from left to right means that we typically scan the page from left to right before scrolling down to find what we need. This is why the button to buy the game is placed at the top right of every page.</p></figcaption>
		</figure>
		
		<h4>Dynamic Content</h4>
		<p>Through the homepage and information pages users are taught about the game, its history, and its features. The type of user who visits the site for a specific reason is often looking for an update--be that the latest news article, video, or image.</p>
		
	</article>

{% endblock %}



{% block footer %}
{% endblock %}



{% block scripts %}
{% endblock %}
